<html>
    <head>
        <script> 
            var initData = JSON.parse('<%-JSON.stringify(guilddata)%>');
        --Yay This Works
        </script>
    </head>
    <body>
        
    </body>
</html>