<html>
  <head>
    <title>Send Message</title>
    <script>
   function redirect() {
    window.location.assign("<%= url %>")
    }
</script>
  <head>
  <body onload="redirect()">
      <a href="<%= url %>">Redirect</a>
  </body>
</html>